<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">DataItem</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"style="color: white">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Link</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- 3rd -->
<section>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width:400px">

        <div class="card-body">
          <div style="width: 300px;">
            <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <h3>ITEM</h3>
                

                <input type="text" class="form-
      control" placeholder="Enter content..." id="item" required [(ngModel)]="itemValue" name="item">
              <br><br>
             
              <input type="text" class="form-
      control" placeholder="Address" id="item" required [(ngModel)]="Address" name="item">
      <br><br>
        

          <input type="text" class="form-
      control" placeholder="Email" id="item" required [(ngModel)]="Email" name="item">
      <br><br>
        

        <input type="text" class="form-
      control" placeholder="Number" id="item" required [(ngModel)]="Number" name="item">
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
      </form>
    </div>
    

  </div>
</div>
</div>

<br>


<div class="col-md-6">
  <div class="card" style="width:400px">
    <div class="card-body">
      <h2>Content from Firebase</h2>
      <div class="col-md-5">
        <p *ngFor="let item of items | async">
          {{item.content}}
          {{item.Add}}
        {{item.Mail}}
        {{item.No}}
      </p>
        
        
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>
 <!-- footer -->
 <div class="footer">
  <p>Deigned By - Santosh Kolekarr</p>
</div>